:root {
  --fg: #ebdbb2;
  --bg: #1d2021;
  --bg2: #282828;

  --red: #fb4934;
  --green: #b8bb26;
  
  --focused: #fabd2f;
  --unfocused: #fabd2d;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/static/fonts/woff2/FiraCode-Light.woff2') format('woff2'),
    url("/static/fonts/woff/FiraCode-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

html {
	background-color: #020202;
	opacity: 0.8;
	background-image:  linear-gradient(30deg, #1d2021 12%, transparent 12.5%, transparent 87%, #1d2021 87.5%, #1d2021), linear-gradient(150deg, #1d2021 12%, transparent 12.5%, transparent 87%, #1d2021 87.5%, #1d2021), linear-gradient(30deg, #1d2021 12%, transparent 12.5%, transparent 87%, #1d2021 87.5%, #1d2021), linear-gradient(150deg, #1d2021 12%, transparent 12.5%, transparent 87%, #1d2021 87.5%, #1d2021), linear-gradient(60deg, #1d202177 25%, transparent 25.5%, transparent 75%, #1d202177 75%, #1d202177), linear-gradient(60deg, #1d202177 25%, transparent 25.5%, transparent 75%, #1d202177 75%, #1d202177);
	background-size: 64px 112px;
	background-position: 0 0, 0 0, 32px 56px, 32px 56px, 0 0, 32px 56px;
}
h1, h2, h3, h4, h5, p, a {color: var(--fg); font-family: "Lucida Console", "Courier New", monospace;}
a, .secondary-link {color: var(--green); text-decoration: underline;}
ul {color: var(--green);}

.secondary-link {
	color: gray;
}

a:hover, .secondary-link {
	font-weight: bold;
}

.tab {
	display: inline-block;
    margin-left: 40px;	
}

p {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: larger;
}

.card, .project-card {
	outline: double;
	color: var(--unfocused);
		
	width: 50%;
	height: auto;

	margin: auto;
	bottom: 20px;
}

.project-card {
	padding: 20px;
	width: 300px;
	height: 170px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.project-description {
	font-size: 15px;	
}

.card:hover {
	color: var(--focused) !important;
}

.card-title {
	padding-top: 20px;
	text-align: center;	
	font-family: "Lucida Console", "Courier New", monospace;
	color: var(--green);
}

.card-subtitle {
	text-align: center;
	font-family: "Lucida Console", "Courier New", monospace;
}

.card-body {
	padding: 20px;
	z-index: 1;
}

.btn {
	background: var(--bg2);
	margin: 10px;
	margin-top: 10px;
	outline: none;
	border: none;
	color: var(--fg);
}

.btn:hover {
	box-shadow: 0 -3px var(--focused);
}

#navbar {
	align-items: center;
  	justify-content: center;
	display: flex;
	flex-direction: row;
}

.navbar-link {
	padding: 0.7%;
	margin-left: 10px;
	margin-right: 10px;
	color: var(--focused);
	background-color: var(--bg2);
	text-decoration: underline;
	font-size: larger;
	border-radius: 10px;
}

.container {
	border-radius: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 25px;
	padding-bottom: 25px;
	background: var(--bg);
	max-width: 1000px;
	margin: auto;
	margin-top: 20px;
}

.flex-container {
	width: 75%;
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.secondary-description {
	display: inline;
	color: gray;
}

.project-footer {
	color: var(--focused);
} 

.project-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 500px;
}

.code-block {
	background-color: #282828;
	font-size: medium;
	padding: 2px;
	font-family: "Fira Code";
}
