:root {
  --fg: #ebdbb2;
  --bg: #1d2021;

  --red: #fb4934;
  --green: #b8bb26;
  
  --focused: #fabd2f;
  --unfocused: #fabd2d;
}

html {background-color: var(--bg)} 
h1, h2, h3, h4, h5, p {color: var(--fg); font-family: "Lucida Console", "Courier New", monospace;}
a, .secondary-link, .navbar-link {color: var(--green); text-decoration: underline;}

.secondary-link {
	color: gray;
}

a:hover, .secondary-link {
	font-weight: bold;
}

.tab {
	display: inline-block;
    margin-left: 40px;	
}

p {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: larger;
}

.card, .project-card {
	outline: double;
	color: var(--unfocused);
		
	width: 50%;
	height: auto;

	margin: auto;
	bottom: 20px;
}

.project-card {
	padding: 20px;
	width: 300px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.card:hover {
	color: var(--focused) !important;
}

.card-title {
	padding-top: 20px;
	text-align: center;	
	font-family: "Lucida Console", "Courier New", monospace;
	color: var(--green);
}

.card-subtitle {
	text-align: center;
	font-family: "Lucida Console", "Courier New", monospace;
}

.card-body {
	padding: 20px;
	z-index: 1;
}

#navbar {
	align-items: center;
  	justify-content: center;
	display: flex;
	flex-direction: row;
}
.navbar-link {
	padding-left: 20px;
	padding-right: 20px;
	color: var(--focused);
	text-decoration: underline;
}

.flex-container {
	width: 75%;
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.secondary-description {
	display: inline;
	color: gray;
}
