{% extends "basic.html" %}
{% block content %}

<h1 class="card-title">Projects<h1>
<div class="flex-container">
    <div class="project-card">Sail-VM</div>
    <div class="project-card">SeaScript</div>
    <div class="project-card">kube</div>
</div>

<h3 class="card-title" style="text-align: center; color: gray">old / experimental</h3>
<h4 style="text-align: center; color: gray">here are some projects that are too small to include or don't work correctly</h4>
<hr style="width: 50%">
<div style="margin: auto; width: 30%;">
	<div style="text-align: left;">
		<a class="secondary-link">binary converter</a><h4 class="secondary-description">: a web utility for converting binary and text</h4>
	</div>
</div>

{% endblock %}
